<!doctype html>
<html>
    <head>
        <title>WELLTOL</title>
        <link rel = "stylesheet" href=" {{url_for('static', filename='style.css' )}}" >
        </head>
    <body>

        <div class = 'one_1'>
            <header>
                <b><a href="/" title="Go to home page" style = "color: white;">HOME</a></b><span> | </span>
                <b><a href="/login" title="Go to contact info" style = "color: white;">LOGIN</a></b><span> | </sanp>
                <b><a href="/members" style = "color: white;">MEMBERS</a></b><span> | </sanp>
                <b><a href="/logout" style = "color: white;">LOGOUT</a></b>
                </header>
            </div>
        <div class = "container">
            <div class = 'box'>
                <a>WELLtol !! </a>
            </div>
            <div>
        
        <div class = 'two_2'>
            <p class = "text" style = "color:white; text-align: center; font-size: 18px; font-family: monospace;"> DIG THE NETWORK.... </p>
            </div>
        <br>

        <p id = "about" >WELLcome to WELLtol</p>

        <div class="three_3">
            
        </div>

    </body>
    </html>
